  .dropdown {
    margin-top: 0.5cm;
    position: relative;
    float: right;
    margin-right: 2cm;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #B2A391;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #B2A391;
}
  .dropdown:hover .dropdown-content {
    display: block;
    background-color:#B2A391 ;
  }
  .dropdown:hover .btn {
    background-color: #B2A391;
  }
  button.my-2{
    font-size: smaller;
  }
  div.my-3{
    padding-top: 2cm;
  }
 