.body{
    background-color: #E4E7DC;
    width: 100%;
    height: 100%;
    background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2.5cm;
}

.register {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
}

h2 {
    text-align: center;
    font-weight: 500;
    color: #011D32;
    margin-bottom: 30px;
}

.registerButton{
    text-align: center;
}

Button:hover {
    background-color: #B2A391;
}

p {
    color:#011D32 ;
    text-align: center;
    margin: 15px 0 10px 0;
}
input::placeholder{
    font-size: smaller;
}
.registerButton button.h6:hover{
        background-color: #B2A391 ;
}
.registerButton button.h6{
    color:#011D32 ;
}
a.signupadmin{
    color: #011D32;
    margin-left: 2.5cm ;
}
a.signupadmin:hover{
    background-color: #B2A391;
}