.sideNav {
  border: 1px solid #555;
  margin-left: 7cm;
  margin-right: 7cm;
  margin-top: 2cm;
  background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

mat-drawer {
  margin: 10px;
  padding: 40px;
}

.questions {
  max-width: 800px;
  margin: 30px;
}

#categories {
  margin-top: 60px;

}

h2,
h6 {
  margin-left: 30px;
}

li {
  font-size: 20px;
  font-weight: bold;
}

#ask {
  margin-left: 700px;
}

.questionTag {
  background: #011D32;
  margin-left: 10px;
  padding: 5px;
  color: white;
}

.answer {
  float: right;
}

.yourAnswer {
  width: 100%;
  margin-top: 10px;
}
div.sideNav{
  background-color: #E4E7DC;
}
img{
  position: absolute;
  image-resolution: 10%;
}
button.submit{
  color: #011D32;
}
button.submit:hover{
  background-color:#B2A391 ;
}