div.body{
    background-color: #E4E7DC;
    width: 100%;
    height: 100%;
    background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 5cm;
}
.login{
    width: 27%;
    margin-left: auto;
    margin-top: 1.1%;
    padding-bottom:2% ;
    /* background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    /* border-style: solid;
    border-left-width:0.01cm;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-color: #011D32; */
}
.email{
    padding: 20px 20px;
    margin-top: 10px;
}
.email h2{
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
}
.loginButton{
    margin-left: 4cm;
    margin-right: 4cm;
    margin-bottom: 1cm;
    text-align: center;
    border-radius: 10%;
    color: #05386B;
}
Button:hover{
    background-color: #B2A391;
}
p{
    text-align: center;
}
a{
    width: auto;
}
input::placeholder{
    font-size: smaller;
}
span{
    color: #011D32;;
    position: fixed;
    padding-left: 10cm;
    padding-top: 4cm;
    font-family: monospace;
}
h6{
    font-size: x-small;
    padding-left: 35px ;
    color: gray;
    text-align: center;
    margin-right: 0.8cm;
}
