div.body{
    background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4.7cm;
}
h4{
    margin-top: 0.2cm;
    margin-left: 0.8cm;
    position: absolute;
}
button.signout{
    position: relative;
    float: right;
    margin-right: 1cm;
    margin-top: 0.3cm;
}
h2{
    padding-top: 2cm;
}
table{
    background-color: #f5e9dc;
    border-style: solid;
    border-color: black;
}
button.signout:hover{
    background-color: #B2A391;
}
div button.uaq:hover{
    background-color: #B2A391;
}
button.apr{
    font-size: 16px;
    background-color:#90EE90;
    padding-right: .5cm;
    padding-left: 0.5cm;
    border-radius: 50%;
}
button.rem{
    font-size: 16px;
    padding-right: .5cm;
    padding-left: 0.5cm;
    background-color:#F08080;
    border-radius: 50%;
}