<hr><div class="body">
    <h4 class="h5">Welcome, {{ admin.name }}</h4>
    <button class="btn signout btn-outline-dark text-dark btn-sm h6" (click)="adminLogout(admin.id)" type="button">
      Sign Out
    </button>
  <h2 style="padding-left: 0.7cm ;">Admin Operations</h2>
<div class="container">
  <div class>
    <button (click)="getUnApprovedQuestions()" class="btn my-2 uaq btn-outline-dark" type="button" data-bs-toggle="collapse"
      data-bs-target="#questionTable" aria-expanded="false" aria-controls="questionTable" style="color:#011D32; font-weight: bold;">
      UnApproved Questions
    </button>
    <br>
    <div *ngIf="questionThere" class="collapse" id="questionTable">
      <table class="table">
        <tr class="table-success table-striped">
          <th>Id</th>
          <th>Question</th>
          <th>Posted By</th>
          <th>Topic</th>
          <th>Accept</th>
          <th>Reject</th>
        </tr>

        <tr class="table-success table-striped" *ngFor="let question of questions">
          <td>{{ question.id }}</td>
          <td>{{ question.question }}</td>
          <td>{{ question.user.name }}</td>
          <td>{{ question.topic }}</td>
          <td>
            <button class="apr btn btn-outline-dark" id="{{ question }}" (click)="approveQuestion(question.id)">
              &#10004;
            </button>
          </td>
          <td>
            <button class="rem btn btn-outline-dark" id="{{ question }}" (click)="deleteQuestion(question.id)">
              &#10006;
            </button>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <button (click)="getUnApprovedAnswers()" class="btn uaq my-2 btn-outline-dark" type="button" data-bs-toggle="collapse"
      data-bs-target="#answerTable" aria-expanded="false" aria-controls="answerTable" style="color:#011D32; font-weight: bold;">
      UnApproved Answers
    </button>
    <div *ngIf="answerThere" class="collapse" id="answerTable">
      <table class="table table-success table-striped">
        <tr>
          <th>Id</th>
          <th>Answer</th>
          <th>Answer Given by</th>
          <th>Accept</th>
          <th>Reject</th>
        </tr>

        <tr *ngFor="let answer of answers">
          <td>{{ answer.id }}</td>
          <td>{{ answer.answer }}</td>
          <td>{{ answer.answerUser.name }}</td>

          <td>
            <button class="apr btn btn-outline-dark" id="{{ answer.id }}" (click)="approveAnswer(answer.id)">
              &#10004;
            </button>
          </td>
          <td>
            <button class="rem btn btn-outline-dark" id="{{ answer.id }}" (click)="deleteAnswer(answer.id)">
              &#10006;
            </button>
          </td>
        </tr>
      </table>
    </div>
    <br><br>
    <button (click)="getAllUsers()" class="btn uaq my-2 btn-outline-dark" type="button" data-bs-toggle="collapse"
      data-bs-target="#userTable" aria-expanded="false" aria-controls="userTable" style="color:#011D32; font-weight: bold;">
      All Users
    </button>
    <div *ngIf="userThere" class="collapse" id="userTable">
      <table class="table table-striped table-hover">
        <tr>
          <th>Id</th>
          <th>UserName</th>
          <th>User Email</th>
          <th>PhoneNumber</th>
          <th>Operations</th>
        </tr>

        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            <button class="btn btn-outline-danger" id="{{ user.id }}" (click)="deleteUser(user.id)">
              Remove user
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>