<hr><div class="body">
    <div class="askQuestion">
        <form #askquestion="ngForm" (ngSubmit)="askQuestion(askquestion.value)" >
            <div>
                <h3 class="h3">Ask Your Question</h3>
            </div>
            <div class="padding">
                <select ngModel name="topic" class="form-select" aria-label="Default select example" required>
                    <option selected disabled>Choose Topic</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Finance">Finance</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="mb-3 padding">
                <label for="exampleFormControlTextarea1" class="form-label h5 text-dark">Post Your Question?</label>
                <textarea ngModel name="question" class="form-control" id="exampleFormControlTextarea1" rows="5"
                    required></textarea>
            </div>

            <div class="askQuestionButton">
                <button type="submit" class="btn btn-outline-secondary text-dark">Submit</button>
            </div>
        </form>
        <br />
         <div class="container row">
            <div class="col-md-12 my-2">
                <div *ngIf="retrievedImage">
                    <img style="width: 500px; height: 200px" [src]="retrievedImage" />
                </div>
            </div>
        </div>
        <br />
    </div>
</div>