div.body {
    width: 100%;
    height: 100%;
    background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 3cm;
}

.login {
    
    width: 30%;
    margin-left: auto;
    /* margin-top: 2cm; */
    margin-right: 1cm;
    /* background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover */
    /* border-style: solid;
    border-left-width:0.01cm;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-color: #011D32; */
    
}

.email {
    padding: 40px 60px;
    margin-top: 10px;
}

.email h2 {
    text-align: center;
   /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 20px;
}

.loginButton {
    margin-left: 4.7cm;
    margin-right: 4.7cm;
    margin-bottom: 1cm;
    text-align: center;
    border-radius: 10%;

}

Button:hover {
    background-color:#B2A391;
}

p {
    text-align: center;
    margin-bottom: 0;
}
h3{
    padding-left: 45px ;
    padding-bottom: 0px;
    font-family: sans-serif;
}
h6{
    font-size: x-small;
    padding-left: 35px ;
    color: gray;
}
input::placeholder{
    font-size: smaller;
}
#signup{
    font-size: smaller;
    color: #2D283E;
    font-weight: bold;
    text-decoration:underline ;
}
#admin{
    color: #2D283E;
    font-weight: bold;
    text-decoration:underline ;
    padding-bottom: 1.2cm;
}
span{
    color: #011D32;;
    position: fixed;
    padding-left: 10cm;
    padding-top: 5cm;
    font-family: monospace;
}

