body{
	background-image: url("src/assets/elena-joland-uKSdkD_WOxk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 8cm;
}
#btn-chat{
  position:relative;
  background-color:#011D32;
  color:#E4E7DC;
  text-align:center;
  float: right;
  border-radius: 12px;
  margin-right: 3.2cm;
}
#ask{
	position: relative;
	margin-top: 0.27cm;
	margin-left: 0.2cm;
  float:left;
}
.container.h6:hover{
	color:  #B2A391;
}
div.h5{
  float: left;
  padding-top: 0.5cm;
  margin-left: 0.5cm;
}
a.btn{
  position: relative;
  float: right;
  margin-right: 2.5cm;
  margin-top: 0.2cm;
}
h5{
  padding-top: 1cm;
  margin-left: 15cm;
}
a.signout{
  color:  #B2A391;
}


